<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>{{ '<p>禁止转义</p>'| safe }}</p>
<p>{{ '15'|int }}</p>
<p>{{ '15.0'|float }}</p>
<p>{{ 'AGSSS'| lower }}</p>
<p>{{ 'afsds'| upper }}</p>
<p>{{ 'helloworld'|title }}</p>
{#去字符串前面和后面的空格#}
<p>去空格:{{ ' hello world   '|trim }}</p>
<p>{{ 1|string }}</p>
<p>{{ '今天是 %s'| format('星期二') }}</p>
<p>{{ [1,3,2]| first }}</p>
<p>{{ [1,3,2]| last }}</p>
<p>{{ [1,3,2]| length }}</p>
<p>{{ [1,3,2]| sort }}</p>
</body>
</html>