<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    {#    <link rel="stylesheet" href="../../static/css/">#}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}>
    <script >

    <title>
        {% block page_title %}
        {% endblock %}
    </title>

</head>
<body>
<div>
    {% block page_head %}
    {% endblock %}
</div>

<div>
    {% block page_content %}
    {% endblock %}
</div>

<div>
    {% block page_footer %}
    {% endblock %}
</div>

</body>
</html>